In [1]:
import pandas as pd
import numpy as np

# Python DateTime

In [2]:
import datetime
date = datetime.date(year=2013, month=6, day=7)
time = datetime.time(hour=12, minute=30, second=19, microsecond=463198)
dt = datetime.datetime(year=2013, month=6, day=7, hour=12, minute=30, second=19,
microsecond=463198)

In [3]:
print("date is ", date)
print("time is", time)
print("datetime is", dt)

date is  2013-06-07
time is 12:30:19.463198
datetime is 2013-06-07 12:30:19.463198

In [8]:
time_delta = datetime.timedelta(weeks=2, days=15, hours=10,
 minutes=20, seconds=6.73,
 milliseconds=99, microseconds=8)

In [9]:
time_delta

datetime.timedelta(days=29, seconds=37206, microseconds=829008)

In [10]:
print('new date is', date + td)

new date is 2013-06-26

In [11]:
print('new datetime is', dt + td)

new datetime is 2013-06-26 22:50:26.292206

In [14]:
# time + td 
#not supported

# Pandas TimeSatamp

In [15]:
pd.Timestamp(year=2012, month=12, day=21, hour=5,
minute=10, second=8, microsecond=99)

Timestamp('2012-12-21 05:10:08.000099')

In [16]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [17]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [18]:
pd.Timestamp(2014, 4, 10)

Timestamp('2014-04-10 00:00:00')

In [19]:
pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [20]:
pd.Timestamp('2016-01-05T05:34:43.123456789')

Timestamp('2016-01-05 05:34:43.123456789')

In [30]:
pd.Timestamp(79872345)

Timestamp('1970-01-01 00:00:00.079872345')

In [29]:
pd.Timestamp(498593484534534594)

Timestamp('1985-10-19 18:11:24.534534594')

In [31]:
 pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [32]:
pd.Timestamp(5000, unit='D')

Timestamp('1983-09-10 00:00:00')

In [34]:
pd.Timestamp(50, unit='M')

Timestamp('1974-03-02 20:15:00')

In [35]:
pd.Timestamp(50, unit='Y')

Timestamp('2020-01-01 03:00:00')

In [37]:
pd.Timestamp(50, unit='M')

Timestamp('1974-03-02 20:15:00')

In [44]:
pd.Timestamp(49, unit='M')

Timestamp('1974-01-31 09:45:54')

In [45]:
pd.Timestamp(48, unit='M')

Timestamp('1973-12-31 23:16:48')

In [38]:
pd.Timestamp(50, unit='s')

Timestamp('1970-01-01 00:00:50')

In [42]:
pd.Timestamp(50, unit='m')

Timestamp('1970-01-01 00:50:00')

In [40]:
pd.Timestamp(50, unit='h')

Timestamp('1970-01-03 02:00:00')

In [46]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [47]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [52]:
pd.to_datetime('2015-11-5', dayfirst=False)

Timestamp('2015-11-05 00:00:00')

In [53]:
pd.to_datetime('2015-11-5')

Timestamp('2015-11-05 00:00:00')

In [55]:
pd.to_datetime('2015-14-5', dayfirst=True)

Timestamp('2015-05-14 00:00:00')

In [49]:
pd.to_datetime('Start Date: Sep 30, 2017 Start Time: 1:30 pm',
 format='Start Date: %b %d, %Y Start Time: %I:%M %p')

Timestamp('2017-09-30 13:30:00')

In [50]:
pd.to_datetime(100, unit='D', origin='2013-1-1')

Timestamp('2013-04-11 00:00:00')

In [56]:
pd.to_datetime(366, unit='D', origin='2013-1-1')

Timestamp('2014-01-02 00:00:00')

# to_datetime is better than TimeStamp cause of felixbility

In [59]:
s = pd.Series([10, 100, 1000, 10000])
pd.to_datetime(s, unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [64]:
s = pd.Series(['12-5-2015', '14-1-2013',
 '20/12/2017', '40/23/2017'])
s

0     12-5-2015
1     14-1-2013
2    20/12/2017
3    40/23/2017
dtype: object

In [65]:
pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [67]:
pd.to_datetime(s, dayfirst=True, errors='ignore')

0     12-5-2015
1     14-1-2013
2    20/12/2017
3    40/23/2017
dtype: object

In [63]:
pd.to_datetime(['Aug 3 1999 3:45:56', '10/31/2017'])

DatetimeIndex(['1999-08-03 03:45:56', '2017-10-31 00:00:00'], dtype='datetime64[ns]', freq=None)

In [68]:
pd.Timedelta('12 days 5 hours 3 minutes 123456789 nanoseconds')

Timedelta('12 days 05:03:00.123456')

In [70]:
pd.Timedelta(days=5, minutes=7.34)

Timedelta('5 days 00:07:20.400000')

In [71]:
pd.Timedelta(100, unit='W')

Timedelta('700 days 00:00:00')

In [72]:
pd.to_timedelta('67:15:45.454')

Timedelta('2 days 19:15:45.454000')

In [74]:
s = pd.Series([10, 100])
s

0     10
1    100
dtype: int64

In [75]:
pd.to_timedelta(s, unit='s')

0   00:00:10
1   00:01:40
dtype: timedelta64[ns]

In [76]:
time_strings = ['2 days 24 minutes 89.67 seconds',
 '00:45:23.6']

In [79]:
time_strings

['2 days 24 minutes 89.67 seconds', '00:45:23.6']

In [78]:
pd.to_timedelta(time_strings)

TimedeltaIndex(['2 days 00:25:29.670000', '0 days 00:45:23.600000'], dtype='timedelta64[ns]', freq=None)

In [81]:
pd.Timedelta('12 days 5 hours 3 minutes')

Timedelta('12 days 05:03:00')

In [80]:
pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timedelta('24 days 10:06:00')

In [83]:
pd.Timestamp('1/1/2017')

Timestamp('2017-01-01 00:00:00')

In [82]:
pd.Timestamp('1/1/2017') + pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timestamp('2017-01-25 10:06:00')

In [86]:
td1 = pd.to_timedelta([10, 100], unit='s')
td1

TimedeltaIndex(['00:00:10', '00:01:40'], dtype='timedelta64[ns]', freq=None)

In [87]:
td2 = pd.to_timedelta(['3 hours', '4 hours'])
td2

TimedeltaIndex(['03:00:00', '04:00:00'], dtype='timedelta64[ns]', freq=None)

In [88]:
td1 + td2

TimedeltaIndex(['03:00:10', '04:01:40'], dtype='timedelta64[ns]', freq=None)

In [89]:
pd.Timedelta('12 days') / pd.Timedelta('3 days')

4.0

# 11.  Many Features are available

In [93]:
ts = pd.Timestamp('2016-10-1 4:23:23.9')
ts.ceil('h')

Timestamp('2016-10-01 05:00:00')

In [94]:
ts.year, ts.month, ts.day, ts.hour, ts.minute, ts.second

(2016, 10, 1, 4, 23, 23)

In [95]:
ts.dayofweek, ts.dayofyear, ts.daysinmonth

(5, 275, 31)

In [96]:
ts.to_pydatetime()

datetime.datetime(2016, 10, 1, 4, 23, 23, 900000)

In [99]:
td = pd.Timedelta(125.8723, unit='h')
td

Timedelta('5 days 05:52:20.280000')

In [100]:
td.round('min')
td

Timedelta('5 days 05:52:20.280000')

In [101]:
td.components
td

Timedelta('5 days 05:52:20.280000')

In [102]:
td.total_seconds()

453140.28