In [1]:
# Load necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Plotting pretty figures and avoid blurry images
%config InlineBackend.figure_format = 'retina'
# Larger scale for plots in notebooks
sns.set_context('talk')

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Enable multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
cars_small = sns.load_dataset('mpg')\
              .set_index('name')[['weight', 'horsepower']].iloc[:10]
cars_small

                           weight  horsepower
name
chevrolet chevelle malibu    3504       130.0
buick skylark 320            3693       165.0
plymouth satellite           3436       150.0
amc rebel sst                3433       150.0
ford torino                  3449       140.0
ford galaxie 500             4341       198.0
chevrolet impala             4354       220.0
plymouth fury iii            4312       215.0
pontiac catalina             4425       225.0
amc ambassador dpl           3850       190.0

# Stacking: Rows =======> Columns

In [3]:
stacked_cars = cars_small.stack()
stacked_cars

name
chevrolet chevelle malibu  weight        3504.0
                           horsepower     130.0
buick skylark 320          weight        3693.0
                           horsepower     165.0
plymouth satellite         weight        3436.0
                           horsepower     150.0
amc rebel sst              weight        3433.0
                           horsepower     150.0
ford torino                weight        3449.0
                           horsepower     140.0
ford galaxie 500           weight        4341.0
                           horsepower     198.0
chevrolet impala           weight        4354.0
                           horsepower     220.0
plymouth fury iii          weight        4312.0
                           horsepower     215.0
pontiac catalina           weight        4425.0
                           horsepower     225.0
amc ambassador dpl         weight        3850.0
                           horsepower     190.0
dtype: float64

In [5]:
type(stacked_cars)

pandas.core.series.Series

In [6]:
stacked_cars.stack()

AttributeError: 'Series' object has no attribute 'stack'