In [1]:
# Load necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Plotting pretty figures and avoid blurry images
%config InlineBackend.figure_format = 'retina'
# Larger scale for plots in notebooks
sns.set_context('talk')

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Enable multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

index\
columns\
values

In [2]:
stocks = pd.read_csv('prices-split-adjusted.csv',
                     usecols=['date', 'symbol', 'open', 'close'],
                     parse_dates=['date'],
                     index_col='date')
stocks.head()

           symbol        open       close
date
2016-01-05   WLTW  123.430000  125.839996
2016-01-06   WLTW  125.239998  119.980003
2016-01-07   WLTW  116.379997  114.949997
2016-01-08   WLTW  115.480003  116.620003
2016-01-11   WLTW  117.010002  114.970001

In [3]:
stocks_small = stocks.loc['2016-02-01':'2016-03-01'].reset_index()
stocks_small.head()

        date symbol        open       close
0 2016-02-01   WLTW  114.000000  114.500000
1 2016-02-02   WLTW  113.250000  110.559998
2 2016-02-03   WLTW  113.379997  114.050003
3 2016-02-04   WLTW  114.080002  115.709999
4 2016-02-05   WLTW  115.120003  114.019997

In [6]:
pivoted = stocks_small.pivot(index='symbol', columns='date')
pivoted

              open                                                  \
date    2016-02-01  2016-02-02  2016-02-03  2016-02-04  2016-02-05
symbol
A        37.369999   37.180000   37.270000   37.150002   37.259998
AAL      39.000000   38.830002   37.380001   37.340000   37.709999
AAP     151.699997  154.380005  151.580002  147.460007  147.539993
AAPL     96.470001   95.419998   95.000000   95.860001   96.519997
ABBV     54.160000   53.639999   54.529999   56.740002   56.250000
...            ...         ...         ...         ...         ...
YHOO     29.270000   29.320000   28.450001   27.910000   29.059999
YUM      51.703813   52.171102   52.185480   51.739755   51.984185
ZBH      98.279999   98.430000   98.730003   97.669998   96.059998
ZION     22.549999   22.299999   21.760000   21.740000   22.150000
ZTS      43.000000   42.430000   41.840000   41.150002   41.320000

                                                                    ...  \
date    2016-02-08  2016-02-09  2016-02-10  2016-02-11  2016-02-12  ...
symbol                                                              ...
A        35.610001   34.209999   35.630001   35.119999   35.840000  ...
AAL      36.080002   34.930000   36.570000   36.470001   36.919998  ...
AAP     142.770004  141.149994  141.130005  137.039993  139.539993  ...
AAPL     93.129997   94.290001   95.919998   93.790001   94.190002  ...
ABBV     52.580002   52.310001   54.110001   52.299999   52.529999  ...
...            ...         ...         ...         ...         ...  ...
YHOO     27.610001   26.639999   27.110001   26.459999   27.120001  ...
YUM      49.396119   47.943925   48.109273   47.268155   47.404744  ...
ZBH      94.949997   91.610001   92.089996   91.830002   88.449997  ...
ZION     21.250000   20.330000   20.940001   20.100000   20.410000  ...
ZTS      40.400002   39.580002   40.169998   38.980000   39.810001  ...

             close                                                  \
date    2016-02-17  2016-02-18  2016-02-19  2016-02-22  2016-02-23
symbol
A        37.869999   37.189999   37.439999   38.029999   37.169998
AAL      39.340000   39.540001   39.759998   40.840000   40.380001
AAP     143.410004  143.320007  143.630005  147.869995  147.550003
AAPL     98.120003   96.260002   96.040001   96.879997   94.690002
ABBV     55.009998   54.549999   54.290001   55.279999   55.070000
...            ...         ...         ...         ...         ...
YHOO     29.370001   29.420000   30.040001   31.170000   30.670000
YUM      51.186196   51.063985   50.697343   51.732568   51.409059
ZBH      95.370003   95.089996   94.790001   95.139999   93.559998
ZION     21.590000   21.170000   21.410000   22.209999   21.209999
ZTS      41.799999   42.020000   41.830002   42.770000   42.369999


date    2016-02-24  2016-02-25  2016-02-26  2016-02-29  2016-03-01
symbol
A        37.480000   37.630001   37.590000   37.349998   38.590000
AAL      40.660000   41.360001   40.869999   41.000000   41.830002
AAP     150.419998  150.080002  150.050003  148.440002  153.350006
AAPL     96.099998   96.760002   96.910004   96.690002  100.529999
ABBV     54.889999   56.200001   56.000000   54.610001   56.340000
...            ...         ...         ...         ...         ...
YHOO     30.950001   31.360001   31.370001   31.790001   32.799999
YUM      51.387490   51.013661   51.344358   52.099210   54.773546
ZBH      94.349998   96.889999   97.529999   96.809998   97.389999
ZION     20.680000   21.230000   21.770000   21.320000   22.309999
ZTS      42.369999   42.900002   42.360001   41.060001   42.099998

[500 rows x 42 columns]

In [7]:
pivoted = stocks_small.pivot(index='date', columns='symbol')
pivoted

                 open                                                          \
symbol              A        AAL         AAP       AAPL       ABBV        ABC
date
2016-02-01  37.369999  39.000000  151.699997  96.470001  54.160000  89.110001
2016-02-02  37.180000  38.830002  154.380005  95.419998  53.639999  88.599998
2016-02-03  37.270000  37.380001  151.580002  95.000000  54.529999  88.339996
2016-02-04  37.150002  37.340000  147.460007  95.860001  56.740002  80.510002
2016-02-05  37.259998  37.709999  147.539993  96.519997  56.250000  84.000000
2016-02-08  35.610001  36.080002  142.770004  93.129997  52.580002  83.889999
2016-02-09  34.209999  34.930000  141.149994  94.290001  52.310001  82.690002
2016-02-10  35.630001  36.570000  141.130005  95.919998  54.110001  85.440002
2016-02-11  35.119999  36.470001  137.039993  93.790001  52.299999  84.250000
2016-02-12  35.840000  36.919998  139.539993  94.190002  52.529999  84.599998
2016-02-16  36.720001  38.130001  142.039993  95.019997  53.439999  86.110001
2016-02-17  35.220001  38.950001  147.169998  96.669998  54.340000  86.059998
2016-02-18  37.730000  39.360001  142.350006  98.839996  55.529999  87.029999
2016-02-19  36.980000  39.160000  143.520004  96.000000  54.500000  86.739998
2016-02-22  37.880001  40.139999  145.250000  96.309998  54.290001  86.860001
2016-02-23  37.639999  40.560001  148.440002  96.400002  55.700001  87.690002
2016-02-24  36.650002  40.020000  147.339996  93.980003  54.660000  86.519997
2016-02-25  37.619999  40.759998  150.800003  96.050003  55.169998  87.550003
2016-02-26  37.750000  41.500000  150.600006  97.199997  56.259998  87.849998
2016-02-29  37.590000  40.770000  150.000000  96.860001  55.869999  87.370003
2016-03-01  37.630001  41.439999  149.919998  97.650002  54.779999  86.800003

                                                         ...      close  \
symbol            ABT         ACN       ADBE        ADI  ...       XLNX
date                                                     ...
2016-02-01  36.169998  104.750000  88.160004  53.380001  ...  49.900002
2016-02-02  38.000000  105.269997  88.709999  52.040001  ...  48.500000
2016-02-03  38.230000  104.449997  88.910004  51.939999  ...  48.549999
2016-02-04  37.779999  102.220001  87.820000  51.209999  ...  49.360001
2016-02-05  38.230000  102.419998  85.500000  51.400002  ...  48.070000
2016-02-08  37.189999   96.650002  77.400002  49.250000  ...  47.380001
2016-02-09  36.959999   94.010002  74.760002  48.840000  ...  47.220001
2016-02-10  37.580002   94.430000  74.989998  49.709999  ...  46.869999
2016-02-11  36.439999   92.540001  74.040001  48.369999  ...  47.250000
2016-02-12  36.700001   94.430000  75.989998  49.599998  ...  47.650002
2016-02-16  37.130001   96.239998  77.129997  49.790001  ...  48.080002
2016-02-17  38.369999   97.739998  79.400002  51.119999  ...  48.820000
2016-02-18  38.340000   99.620003  82.300003  53.009998  ...  47.939999
2016-02-19  38.320000   98.309998  80.320000  51.880001  ...  48.430000
2016-02-22  38.529999  100.160004  82.089996  52.669998  ...  48.889999
2016-02-23  38.910000  100.339996  83.410004  52.459999  ...  48.459999
2016-02-24  38.180000   98.650002  82.220001  50.599998  ...  47.580002
2016-02-25  39.220001   99.959999  84.760002  53.060001  ...  48.250000
2016-02-26  39.480000  101.480003  87.110001  53.299999  ...  48.389999
2016-02-29  39.340000  100.680000  86.010002  53.459999  ...  47.220001
2016-03-01  38.910000  101.379997  85.919998  53.950001  ...  48.209999

                                                                         \
symbol            XOM       XRAY   XRX        XYL       YHOO        YUM
date
2016-02-01  76.290001  60.029999  9.43  35.619999  29.570000  52.552121
2016-02-02  74.589996  59.279999  8.95  34.860001  29.059999  51.991376
2016-02-03  78.480003  58.950001  9.24  35.669998  27.680000  52.084832
2016-02-04  79.830002  59.320000  9.37  37.080002  29.150000  51.984185
2016-02-05  80.080002  58.990002  9.46  36.660000  27.969999  50.150972
2016-02-08  81.160004  57.200001  9.05  36.220001  27.049999  48.475919
2016-02-09  80.080002  56.990002  8.76  36.709999  26.820000  47.785768
2016-02-10  79.349998  57.730000  8.88  36.430000  27.100000  47.994249
2016-02-11  79.599998  56.509998  8.69  36.209999  26.760000  46.901510
2016-02-12  81.029999  54.730000  8.77  37.040001  27.040001  48.411218
2016-02-16  81.220001  55.700001  9.02  37.000000  29.280001  49.978433
2016-02-17  82.000000  55.910000  9.19  37.660000  29.370001  51.186196
2016-02-18  82.449997  55.599998  9.34  37.529999  29.420000  51.063985
2016-02-19  82.500000  56.369999  9.36  37.029999  30.040001  50.697343
2016-02-22  82.389999  56.660000  9.59  37.639999  31.170000  51.732568
2016-02-23  81.230003  56.630001  9.50  37.320000  30.670000  51.409059
2016-02-24  81.519997  57.880001  9.57  37.470001  30.950001  51.387490
2016-02-25  82.010002  60.740002  9.64  37.560001  31.360001  51.013661
2016-02-26  81.750000  60.669998  9.66  37.720001  31.370001  51.344358
2016-02-29  80.150002  60.959999  9.61  37.410000  31.790001  52.099210
2016-03-01  81.279999  60.430000  9.93  37.939999  32.799999  54.773546


symbol            ZBH       ZION        ZTS
date
2016-02-01  99.029999  22.500000  42.959999
2016-02-02  98.040001  21.540001  41.720001
2016-02-03  97.260002  21.780001  41.310001
2016-02-04  97.550003  22.049999  41.540001
2016-02-05  95.010002  21.629999  40.910000
2016-02-08  92.029999  20.719999  40.189999
2016-02-09  91.900002  20.770000  39.860001
2016-02-10  92.910004  20.740000  39.330002
2016-02-11  91.680000  19.900000  39.360001
2016-02-12  91.779999  20.990000  40.430000
2016-02-16  93.620003  21.680000  40.430000
2016-02-17  95.370003  21.590000  41.799999
2016-02-18  95.089996  21.170000  42.020000
2016-02-19  94.790001  21.410000  41.830002
2016-02-22  95.139999  22.209999  42.770000
2016-02-23  93.559998  21.209999  42.369999
2016-02-24  94.349998  20.680000  42.369999
2016-02-25  96.889999  21.230000  42.900002
2016-02-26  97.529999  21.770000  42.360001
2016-02-29  96.809998  21.320000  41.060001
2016-03-01  97.389999  22.309999  42.099998

[21 rows x 1000 columns]

In [10]:
pivoted2 = stocks_small.pivot(index='symbol', columns='date', values='close')
pivoted2

date,2016-02-01,2016-02-02,2016-02-03,2016-02-04,2016-02-05,2016-02-08,2016-02-09,2016-02-10,2016-02-11,2016-02-12,...,2016-02-17,2016-02-18,2016-02-19,2016-02-22,2016-02-23,2016-02-24,2016-02-25,2016-02-26,2016-02-29,2016-03-01
symbol,,,,,,,,,,,,,,,,,,,,,
A,37.689999,37.070000,37.189999,37.419998,36.040001,34.799999,35.369999,35.849998,35.330002,36.220001,...,37.869999,37.189999,37.439999,38.029999,37.169998,37.480000,37.630001,37.590000,37.349998,38.590000
AAL,39.380001,37.029999,37.509998,38.209999,36.750000,35.549999,36.189999,37.119999,36.490002,37.820000,...,39.340000,39.540001,39.759998,40.840000,40.380001,40.660000,41.360001,40.869999,41.000000,41.830002
AAP,154.889999,151.860001,147.940002,147.850006,143.940002,141.449997,141.500000,138.570007,138.410004,140.770004,...,143.410004,143.320007,143.630005,147.869995,147.550003,150.419998,150.080002,150.050003,148.440002,153.350006
AAPL,96.430000,94.480003,96.349998,96.599998,94.019997,95.010002,94.989998,94.269997,93.699997,93.989998,...,98.120003,96.260002,96.040001,96.879997,94.690002,96.099998,96.760002,96.910004,96.690002,100.529999
ABBV,54.389999,53.950001,56.840000,56.759998,53.119999,52.889999,53.480000,52.720001,52.180000,52.580002,...,55.009998,54.549999,54.290001,55.279999,55.070000,54.889999,56.200001,56.000000,54.610001,56.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YHOO,29.570000,29.059999,27.680000,29.150000,27.969999,27.049999,26.820000,27.100000,26.760000,27.040001,...,29.370001,29.420000,30.040001,31.170000,30.670000,30.950001,31.360001,31.370001,31.790001,32.799999
YUM,52.552121,51.991376,52.084832,51.984185,50.150972,48.475919,47.785768,47.994249,46.901510,48.411218,...,51.186196,51.063985,50.697343,51.732568,51.409059,51.387490,51.013661,51.344358,52.099210,54.773546
ZBH,99.029999,98.040001,97.260002,97.550003,95.010002,92.029999,91.900002,92.910004,91.680000,91.779999,...,95.370003,95.089996,94.790001,95.139999,93.559998,94.349998,96.889999,97.529999,96.809998,97.389999
ZION,22.500000,21.540001,21.780001,22.049999,21.629999,20.719999,20.770000,20.740000,19.900000,20.990000,...,21.590000,21.170000,21.410000,22.209999,21.209999,20.680000,21.230000,21.770000,21.320000,22.309999
ZTS,42.959999,41.720001,41.310001,41.540001,40.910000,40.189999,39.860001,39.330002,39.360001,40.430000,...,41.799999,42.020000,41.830002,42.770000,42.369999,42.369999,42.900002,42.360001,41.060001,42.099998