In [1]:
import pandas as pd
import pandas_datareader as pdr

### get the latest stock price

In [2]:
tsla = pdr.DataReader('TSLA', data_source='yahoo', start='2021-6-01')
tsla.head(8)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-06-01,633.799988,620.549988,627.799988,623.900024,18084900,623.900024
2021-06-02,623.359985,599.140015,620.130005,605.119995,23302800,605.119995
2021-06-03,604.549988,571.219971,601.799988,572.840027,30111900,572.840027
2021-06-04,600.609985,577.200012,579.710022,599.049988,24002100,599.049988
2021-06-07,610.000000,582.880005,591.830017,605.130005,22543700,605.130005
2021-06-08,623.090027,595.500000,623.010010,603.590027,26053400,603.590027
2021-06-09,611.789978,597.630005,602.169983,598.780029,16584600,598.780029
2021-06-10,616.590027,600.500000,603.880005,610.119995,23919600,610.119995

In [3]:
tsla_close = tsla['Close']

### find the max price, until now

In [4]:
tsla_cummax = tsla_close.cummax()
tsla_cummax.head()

Date
2021-06-01    623.900024
2021-06-02    623.900024
2021-06-03    623.900024
2021-06-04    623.900024
2021-06-07    623.900024
Name: Close, dtype: float64

### adjust to 10% for the stoploss

In [5]:
tsla_trailing_stop = tsla_cummax * 0.9
tsla_trailing_stop.head()

Date
2021-06-01    561.510022
2021-06-02    561.510022
2021-06-03    561.510022
2021-06-04    561.510022
2021-06-07    561.510022
Name: Close, dtype: float64