In [89]:
import datetime
import pandas as pd

### Date,Time handling with Python

In [90]:
date = datetime.date(year=2013, month=6, day=7)

In [91]:
date, type(date)

(datetime.date(2013, 6, 7), datetime.date)

In [92]:
time = datetime.time(hour=12, minute=30, second=19, microsecond=463198)

In [93]:
time, type(time)

(datetime.time(12, 30, 19, 463198), datetime.time)

In [94]:
dt = datetime.datetime(year=2013, month=6, day=7, 
                           hour=12, minute=30, second=19, 
                           microsecond=463198)

In [95]:
dt, type(dt)

(datetime.datetime(2013, 6, 7, 12, 30, 19, 463198), datetime.datetime)

In [96]:
print(date)
print(time)
print(dt)

2013-06-07
12:30:19.463198
2013-06-07 12:30:19.463198

In [97]:
time_delta = datetime.timedelta(weeks=2, days=5, hours=10,
                            minutes=20, seconds=6.73,
                            milliseconds=99, microseconds=8)

In [98]:
print(time_delta)

19 days, 10:20:06.829008

In [99]:
print('New date is ', date + time_delta) # (7th + 19th)

New date is  2013-06-26

In [100]:
print('new datetime is', dt + time_delta)

new datetime is 2013-06-26 22:50:26.292206

In [101]:
try:
    time + time_delta
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

### Date, time handling with pandas

In [102]:
pd.Timestamp(year=2012, month=12, day=21, hour=5,
             minute=10, second=8, microsecond=99)

Timestamp('2012-12-21 05:10:08.000099')

In [103]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [104]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [105]:
pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [106]:
pd.Timestamp('2016-01-05T05:34:43.123456789')  # UTC format

Timestamp('2016-01-05 05:34:43.123456789')

In [107]:
pd.Timestamp(999689855788540000)   # seconds from UNIX epoch

Timestamp('2001-09-05 11:37:35.788540')

In [108]:
pd.Timestamp(84000, unit='D')

Timestamp('2199-12-26 00:00:00')

In [109]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [110]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [111]:
pd.to_datetime('Start Date: Sep 30, 2017 Start Time: 1:30 pm', 
               format='Start Date: %b %d, %Y Start Time: %I:%M %p')

Timestamp('2017-09-30 13:30:00')

In [112]:
pd.to_datetime(100, unit='D', origin='2013-1-1')

Timestamp('2013-04-11 00:00:00')

In [113]:
s = pd.Series([10, 100, 1000, 10000])

In [114]:
pd.to_datetime(s, unit='D')  # can convert total series at once.

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [115]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017'])

In [138]:
pd.to_datetime(s, dayfirst=True, errors='coerce')   # coerce will convert invalid format to 'NaT'

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [117]:
pd.to_datetime(['Aug 3 1999 3:45:56', '10/31/2017'])

DatetimeIndex(['1999-08-03 03:45:56', '2017-10-31 00:00:00'], dtype='datetime64[ns]', freq=None)

In [118]:
pd.Timedelta('12 days 5 hours 3 minutes 123456789 nanoseconds')

Timedelta('12 days 05:03:00.123456789')

In [119]:
pd.Timedelta(days=5, minutes=7.34)

Timedelta('5 days 00:07:20.400000')

In [120]:
pd.Timedelta(100, unit='W')  # weeks unit

Timedelta('700 days 00:00:00')

In [121]:
pd.to_timedelta('67:15:45.454')

Timedelta('2 days 19:15:45.454000')

In [122]:
pd.to_timedelta(pd.Series([10, 100]))

0   0 days 00:00:00.000000010
1   0 days 00:00:00.000000100
dtype: timedelta64[ns]

In [123]:
time_strings = ['2 days 24 minutes 89.67 seconds', '00:45:23.6']

In [124]:
pd.to_timedelta(time_strings)

TimedeltaIndex(['2 days 00:25:29.670000', '0 days 00:45:23.600000'], dtype='timedelta64[ns]', freq=None)

In [129]:
pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timedelta('24 days 10:06:00')

In [128]:
pd.Timedelta('12 days 5 hours 3 minutes') / 2

Timedelta('6 days 02:31:30')

In [131]:
pd.Timestamp('1/1/2017') + pd.Timedelta('12 days 5 hours 3 minutes') * 2   # 1 + 24 days..

Timestamp('2017-01-25 10:06:00')

In [132]:
td1 = pd.to_timedelta([10, 100], unit='s')
td2 = pd.to_timedelta(['3 hours', '4 hours'])

In [134]:
td1, td2

(TimedeltaIndex(['0 days 00:00:10', '0 days 00:01:40'], dtype='timedelta64[ns]', freq=None),
 TimedeltaIndex(['0 days 03:00:00', '0 days 04:00:00'], dtype='timedelta64[ns]', freq=None))

In [135]:
td1 + td2

TimedeltaIndex(['0 days 03:00:10', '0 days 04:01:40'], dtype='timedelta64[ns]', freq=None)

#### Attributes/Methods on Timestamp and Timedelta objects

In [136]:
ts = pd.Timestamp('2016-10-1 4:23:23.9')

In [137]:
ts

Timestamp('2016-10-01 04:23:23.900000')

In [141]:
ts.ceil('h')  # round to next hour

Timestamp('2016-10-01 05:00:00')